.macro-ctp-entry {
  display: inline-block;
}

.macro-ctp-entry-t8n {
  animation: macro-ctp-fade-in 0.4s ease;
}

@keyframes macro-ctp-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
